body {
  background-color: #f0f0f0;
}

nav {
  text-align: center;
}

nav a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  color: #333;
}

main {
  width: 240px;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
}
